<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="static(classroom)">
        <td th:text="${classroom.classroomName}"></td>
        <td th:text="${classroom.capacity}"></td>
        <td th:text="${classroom.available} ? 'Yes' : 'No'"></td>
        <td th:text="${classroom.professor}"></td>
        <td th:text="${classroom.availableAt}"></td>
        <div th:if="${isDirector}">
            <td style="display: flex; justify-content: space-evenly; align-items: center">
                <a th:href="@{/classroom/edit/{id}(id=${classroom.getClassroomName()})}">
                    <img src="/static/img/edit.svg" alt="edit" th:src="@{/img/edit.svg}">
                </a>
                <form th:action="@{/classroom/delete}" th:method="delete">
                    <input type="hidden" name="id" th:value="${classroom.classroomName}">
                    <label>
                        <input hidden="hidden" type="submit">
                        <img style="margin-right: 10px; cursor: pointer" src="/static/img/delete.svg" th:src="@{/img/delete.svg}" alt="delete"/>
                    </label>
                </form>
            </td>
        </div>
    </div>
<div th:fragment="edit(classroom)">
    <form th:action="@{/classroom/{oldId}(oldId=${classroom.getClassroomName()})}" th:method="put">
        <td><label><input type="text" name="classroomName" th:value="${classroom.classroomName}" autofocus></label></td>
        <td><label><input type="text" name="capacity" th:value="${classroom.capacity}"></label></td>
        <td><label>
            <select type="text" name="available">
                <option th:value="${classroom.available}" th:text="${classroom.available} ? 'Yes' : 'No'"></option>
                <option th:value="${!classroom.available}" th:text="${classroom.available} ? 'No' : 'Yes'"></option>
            </select>
        </label></td>
        <td><label><input type="text" name="professor" th:value="${classroom.professor}"></label></td>
        <td><label><input type="text" name="availableAt" th:value="${classroom.availableAt}"></label></td>
        <td>
            <label>
                <input hidden="hidden" type="submit">
                <img style="cursor: pointer" src="/static/img/save.svg" alt="save" th:src="@{/img/save.svg}">
            </label>
        </td>
    </form>
</div>
<div th:fragment="add">
    <form th:action="@{/classroom}" method="post">
        <td><label><input type="text" name="classroomName" placeholder="classroom name" required autofocus></label></td>
        <td><label><input type="text" name="capacity" placeholder="capacity"></label></td>
        <td>
            <label><select type="text" name="available">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select></label></td>
        <td><label><input type="text" name="professor" placeholder="professor"></label></td>
        <td><label><input type="text" name="availableAt" placeholder="available at"></label></td>
        <td>
            <label>
                <input hidden="hidden" type="submit">
                <img style="cursor: pointer" src="/static/img/add.svg" alt="add" th:src="@{/img/add.svg}">
            </label>
        </td>
    </form>
</div>
</body>
</html>