@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    letter-spacing: 1px;
    color: white;
}

body{
    background-color: #ECEEF0;
    font-family: 'Roboto', sans-serif, monospace;
}

.navbar{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #313863;
    height: 80px;
    width: 100%;
    z-index: 1;
    top: 0px;
}

.navbar-item{
    padding: 0px 40px;
}

.table{
    margin-top: 20px;
    background-color: #132231;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
    color: white;
}

.table thead{
    background-color: #111416;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    text-align: center;
    border: 2px solid black;
    position: sticky;
    top: 0;
}

.table td{
    padding: 10px 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}

.insert td label input, select, option{
    font-size: 100%;
    height: 40px;
    color: black;
}

.label-logout-form{
    cursor: pointer;
    width: 100%;
    padding-left: 17px;
    color: #adb5bd;
}